#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 100%; 
  padding: 10px;
  box-sizing: border-box;
}

.title-center {
  display: inline-block; 
  
  background-color: rgb(255, 174, 0); 
  color: rgb(255, 0, 0); 
  padding: 6px 10px; 
  border-radius: 4px; 
  
  text-align: center; 
  margin-bottom: 120px; 
  
}

.button-groups-wrapper {
  display: flex;
  justify-content: space-between; 
  width: 90%;
}

.group-left-vertical {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.button-spacing {
  margin-bottom: 50px; 
  width: 100%; 
}

.group-right-inline {
  display: flex; 
  gap: 5px;
}


.title-margin {
  margin-right: 1rem; 
}


.group-right-vertical {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
}


.vertical-button {
  margin-bottom: 50px;
  width: 100%; 
}

.data-label {
  width: 120px; 
  text-align: right; 
  font-weight: 500; 
  padding-right: 10px; 
  color: #333; 
    
  background-color: rgb(255, 187, 0);  
  border: 1px solid black; 
  padding: 6px 10px 6px 10px; 
  border-radius: 4px; 
  margin-right: 10px; 
    
  display: inline-block; 
}

.data-row {
    display: flex;
    align-items: center; 
    margin-bottom: 50px;
}

.data-value-button {
    padding: 6px 12px;
    font-weight: bold;
    min-width: 60px;
    text-align: center;
    margin-left: 1px;
}

.status-on-button {
  background-color: green !important; 
  color: white !important;
}

.status-off-button {
  background-color: red !important; 
  color: white !important;
}

.status-box {
  border: 3px solid #ffc107; 
  padding: 10px;
  width: 150px; 
  height: min-content; 
  border-radius: 5px;
  background-color: #fffbe6; 
  margin-left: 15px; 
  text-align: left;
  font-size: 0.85em;
}

.box-title {
  font-weight: bold;
  margin-bottom: 8px;
  color: #a8552f; 
  font-size: 1em; 
}

.right-section-wrapper {
  display: flex; 
  align-items: flex-start; 
}